<footer class="container-fluid bg-light mt-5">
    <div class="row">
        <section class="col">
            Col1
        </section>
        <section class="col">
            Col2
        </section>
        <section class="col">
            Col3
        </section>
    </div>
</footer>