{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    {% include '_partials/_header.html.twig' with {'titre': 'Réinitialiser mon mot de passe'} %}
    <section class="container my-3">
        <div class="row">
            <div class="col">
                {{ form_start(passForm) }}
                    {{ form_row(passForm.password) }}
                    <button type="submit" class="btn btn-primary">Envoyez</button>
                {{ form_end(passForm) }}

            </div>
        </div>
    </section>
{% endblock %}
