{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Site e-commerce</h1>
                <p>heloo</p>
            </div>


            <div class="col-12">

            </div>
        </section>
    </main>
{% endblock %}
